Chatbot Data Ingestion.json
{
  "name": "Chatbot Data Ingestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        0
      ],
      "id": "fa98e8fc-1dbe-4df3-bec1-c38d8a077a33",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d581ffb6-980e-4db8-9245-84400c0e2bd4",
              "name": "repo_owner",
              "value": "Andrew22077",
              "type": "string"
            },
            {
              "id": "9682d3ca-31e5-46fd-a048-8b19bde841b3",
              "name": "repo_name",
              "value": "Rappi-Dashboard",
              "type": "string"
            },
            {
              "id": "f5f7065c-1dbd-4b90-86aa-a867b165e98d",
              "name": "doc_path",
              "value": "dataset_unificado.csv",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        0
      ],
      "id": "b4e70a1a-638b-4022-9174-51fa2170666c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "={{ $json.repo_name }}"
        },
        "filePath": "={{ $json.doc_path }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ],
      "id": "a52a26ae-8a44-4307-93ce-15ed0c86becf",
      "name": "List files",
      "webhookId": "3e56074b-2c60-4737-ac43-083513f6dd37",
      "credentials": {
        "githubOAuth2Api": {
          "id": "6r6r8Ssw10N4ydqZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        352,
        0
      ],
      "id": "edbed21b-377b-4092-beb7-86bf63cc1ebc",
      "name": "Get a file",
      "webhookId": "255e1aa5-09ca-496d-a8f4-ff950e2317db",
      "credentials": {
        "githubOAuth2Api": {
          "id": "6r6r8Ssw10N4ydqZ",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "hr2",
          "mode": "list",
          "cachedResultName": "hr2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1136,
        0
      ],
      "id": "9b2f9e2a-d56d-478e-95dc-0cce1ef892af",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "GKPAoE5tnZjb4mqQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        192
      ],
      "id": "da8da56f-6b16-4b6f-8ed5-ac955beb2618",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "7xL1BI2BtzKOCpcB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hr2-ravz0gu.svc.aped-4627-b74a.pinecone.io/vectors/delete",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pineconeApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "deleteAll",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        640,
        96
      ],
      "id": "b104f3a8-bf96-465b-bb44-069b059e045a",
      "name": "HTTP Request",
      "credentials": {
        "pineconeApi": {
          "id": "GKPAoE5tnZjb4mqQ",
          "name": "PineconeApi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        880,
        0
      ],
      "id": "7411b7ee-0134-4e5d-b956-04df5a785d2a",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1264,
        208
      ],
      "id": "17d16170-22a6-4fec-910d-7449e9664c0a",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5368fdb4-7db6-4a55-ab71-e23f38c601ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c20f61a9555ff664e10954392c4d2d7b06ded5f1211f950f2d9097387aefe17e"
  },
  "id": "eeW4wjKq-RcAxqUFOQ7t8",
  "tags": []
}